*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #e6e6e6;
}
a{
	text-decoration: none;
}
#cabecalho{
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}
#logo{
	padding: 10px;
}
#logo h1{
	color: #4e4e4e;
	font-size: 2.5em;
}
.branco{
	color: white;
}
#menu{
	padding: 10px;
}
/* Formatação do menu */
#menu a:link, a:visited{
	color: white;
	padding: 8px 12px;
}
#menu a:hover{
	color: #f7b600;
	background-color: #fff;
}
#area-principal{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}
.postangens{
	width: 660px;
	background-color: white;
	float: left;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
}
.postagem h2{
	color: #f7b600;
}
.data-postagem{
	display: block;
	font-size: 0.8em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #f4f4f4;
}
.lateral{
	width: 240px;
	float: right;
}
.conteudo-lateral{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}
.conteudo-lateral h3{
	color: #565656;
	background-color: #cccccc;
	padding: 5px;
}
.conteudo-lateral a:link, .conteudo-lateral a:visited{
	display: block;
	color: #f7b600;
}
.conteudo-lateral a:hover{
	background-color: #f7b600;
	color: #fff;
}
.postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
}
#rodape{
	clear: both;
	text-align: center;
	background-color: #cccccc;
	padding: 15px;
}