/*
*{
	border: 1px solid red;
}*/
/**************************************
Seletor universal
* {
	border: 1px solid red;
}
/**************************************
Seletor de texto
h1 {
	color: green;
}
/**************************************
Seletor de classe
.verde {
	color: green;
}
/**************************************
Seletor de classe
p.verde {
	color: green;
}

**************************************
Seletor de ID
#cabecalho {
	border: 1px solid blue;
	}
**************************************
Seletor de filho
li>a {
	color: red;
	text-decoration: none;
}
**************************************
Seletor de descendente
p a {
	color: green;
}

**************************************
Seletor de irmão adjacente
h1+p {
	color: red;
}
**************************************
Seletor de irmão geral
h1~p {
	color: pink;
} */
.tipo{
	color: blue;
}
h1{
	color: lightgreen;
}
p{
	color: red;
}

#vertical{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#vertical li{
	padding: 5px 20px;
	background: url('imagens/seta.png') no-repeat left center;
}
.menu-vertical{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.menu-vertical a{
	display: block;
	width: 200px;
	height: 40px;
	background: url('imagens/menu.png') no-repeat;
	color: #000000;
	text-indent: 40px;
	line-height: 40px;
	text-decoration: none;
}
.menu-vertical a:hover, .selecionado a{
	background: url('imagens/menu.png') no-repeat right;
	color: #ffffff;
	text-decoration: none;
}
.menu-lateral{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background: #159cb0 url('imagens/fundo-horizontal.png') repeat-x;
	float: left;
}
.menu-lateral li{
	float: left;
}
.menu-lateral a{
	text-decoration: none;
	display: block;
	padding: 0 2em;
	line-height: 2em;
	color: #ffffff;
	background: url('imagens/divisor.png') repeat-y;
}
.menu-lateral a:hover{
	color: #085662;
	background-color: #44cade;
}
.container{
	width: 720px;
	margin: 0 auto;
	background: #ffffff;
}
.marca{
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}
.conteudo{
	width: 520px;
	float: right;
}
.conteudo-principal{
	float: left;
	width: 320px;
}
.conteudo-secundario{
	float: right;
	width: 180px;
	background: #d1d1d1;
}
.navegacao{
	width: 180px;
	float: left;
	padding: 20px 0;
	background: #d1d1d1;
}
.rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}
.navegacao ul{
	list-style: none;
}
.navegacao li a{
	text-decoration: none;
}