.estilo1{
	color: skyblue;
}
.modelocaixa{
	border: 1px solid red;
	padding: 12px;
	margin: 5px;
}
.conteudo{
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	background: blue;
	float: left;
	margin: 10px;
}
.conteudo1{
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	background: red;
	float: left;
	margin: 10px;
}
.clear{
	clear: both;
}

#secundario{
	width: 920px;
	border: 1px solid red;
}
.noticia{
	background: #e5e5e5;
	padding: 5px;
	width: 280px;
	margin: 7px;
	float: left;
}
.terciario{
	margin: 10px;
	border: 1px solid red;
	width: 800px;
	position: relative;
}
.relative{
	margin: 10px;
	border: 1px solid gray;
	width: 800px;
	position: relative;
	bottom: 2px;
}
.absolute{
	border: 1px solid green;
	width: 800px;
	position: absolute;
	bottom: -200px;
}
.fixed{
	border: 1px solid pink;
	width: 800px;
	position: fixed;
	top: 0px;
}
.tipo1{
	border: 1px solid red;
	width: 200px;
	height: 200px;
	position: absolute;
	background: orange;
	z-index: 0;
}
.tipo2{
	border: 1px solid green;
	width: 200px;
	height: 200px;
	position: absolute;
	background: green;
	top: 80px;
	left: 80px;
	z-index: 1;
}
.tipo3{
	border: 1px solid green;
	width: 200px;
	height: 200px;
	position: absolute;
	background: blue;
	top: 160px;
	left: 160px;
	z-index: 2;
}
.tipo4{
	position: relative;
	border: 1px solid skyblue;
	background: pink;
	z-index: 4;
}