.estilo1{
	color: skyblue;
}
.modelocaixa{
	border: 1px solid red;
	padding: 12px;
	margin: 5px;
}
.conteudo{
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	background: blue;
	float: left;
	margin: 10px;
}
.conteudo1{
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	background: red;
	float: left;
	margin: 10px;
}
.clear{
	clear: both;
}

#secundario{
	width: 920px;
	border: 1px solid red;
}
.noticia{
	background: #e5e5e5;
	padding: 5px;
	width: 280px;
	margin: 7px;
	float: left;
}